body
{
	margin: 0 0;
	background-color: #eddcd2;
	color: #24220b;
}
header
{
	background-color: #cb997e;
	padding: 1px 1px;
	font-size: 20px;
	color: black;
	position: sticky;
}
h1, h2, h3
{
	font-family: 'Texturina', serif;
}
h2 { font-size: 30px; }
main
{
	padding: 50px 0 0 10px;
}
section
{
	margin-left: 25px;
}
input
{
	padding: 5px 7px; 
	border: none; 
	background: #f0efeb;
	font-size: 20px;
}
button, a
{
	padding: 5px 7px; 
	background: #ddbea9;
	font-size: 20px;
	font-weight: bold;
	border-radius: 15%;
	margin: 15px 0 10px 0;
	border: 1.5px solid black;
}
td,th
{
	padding: 10px 10px;
	text-align: left;
	font-size: 20px;
}
.login, h3 { font-size: 25px; }
#book_links
{
	font-size: 25px;
	font-weight: bold;
}
a
{
	/*font: 20px Arial;*/
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.book_detail th
{
	font-size: 25px;
	padding: 7px 7px;
}
.book_detail td
{
	font-size: 18px;
	padding: 7px 7px;
}
.book_detail button
{
	padding: default;
	font-size: 16px;
}
